[submodule "submodules/zfsonlinux"]
	path = submodules/zfsonlinux
	url = git://git.proxmox.com/git/zfsonlinux
[submodule "submodules/ubuntu-bionic"]
	path = submodules/ubuntu-bionic
	url = git://git.proxmox.com/git/mirror_ubuntu-bionic-kernel
	shallow = true
